.large-12.columns
  = form_for(score) do |form|
    .large-6
      = form.label(:name)
      = form.text_field(:name)
    .large-2
      = form.label(:enemies_killed)
      = form.number_field(:enemies_killed)
    .row
      %label Bosses:
      %ul.inline-list
        - bosses.each do |boss|
          %li
            %a{href:"javascript:void(0)"}
              = image_tag boss.image_url
            = check_box_tag "score[boss_ids][]", boss.id, score.bosses.include?(boss)
    = form.submit
